header{
    text-align: center;
    justify-content: center;
    height: 250px;
}

.details { 
    max-width: 860px;
    margin:auto;
    padding-top: 80px;
}

.details div{
    display: flex; 
    justify-content: space-between;
}

.details p{
    margin: unset;
}

.details p:last-child{
    margin-left: auto;
    justify-content: center;
}

ul{
    padding: unset;
}

ul li{
    list-style-type: none;;
}

li a{
    text-decoration: none;
    color: white;
}

nav ul li{
    background-color: rgb(78, 78, 78);
    border-radius: 8px;
    margin-bottom: 1em;
    padding: 8px;
    margin: 8px;
    transition: 1s ease;
}

nav ul li:hover{
    transform: scale(1.15);
}

article{
    padding:1em 2em 1em 2em;
    margin-left: 1em;
    margin-right: 1em;
    border: solid rgb(52, 52, 52);
    width: auto;
}

#exp{
    margin-top:1em;
}

h2{
    text-transform:uppercase;
    font-family: "Fragment Mono", sans-serif;
    letter-spacing: 2px;
    margin:0px 8px 8px 8px;
}

h1{
    text-transform:uppercase;
    font-family: "Fragment Mono", sans-serif;
    letter-spacing: 3px;
    margin-top: unset;
    font-size: 40px;
}

p, a{
    font-family: "Work Sans", san-serif;
    letter-spacing: 1px;
}

a{
    font-size: 14px;
}

footer{
    text-align: center;
    margin: 8px;
}

footer p{
    margin: unset;
    line-height: 1.25em;
}

body{
    /* background-image: url(images/background.jpg); */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: unset;
    animation: animatedBack 3s linear alternate infinite;
}

@keyframes animatedBack{
    0% {background-image: url(images/background.jpg);}
    100% {background-image: url(images/background2.png);}
}


@media screen and (min-width: 500px){
    .projects{
        display: flex;
        justify-content: center;
    }

    article{
        width: 18%;
    }
}