#enter{
    position: fixed;
    background-image:url(images/cave.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    width:100%;
    height:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    overflow-x:hidden;
}

.animate{
    animation: fadeOut 1s ease forwards;
}

#enter h1{
    width:30%;
    font-size: 64px;
    margin:auto;
    padding-bottom:8px;
    animation: bob 3s ease infinite, slideUp 1.2s ease;
}

#enter article{
    padding-top:20%;
    overflow:hidden;
}

#enter button{
    animation: slideUp 1.5s ease;
}

body{
    background-repeat: no-repeat;
    animation: back 6s linear infinite;
    background-color:rgb(0, 1, 32);
}

#intro{
    animation: fadeIn 2s;
    display: flex;
}

h1, h2{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

#info h2{
    margin-bottom: 3px;
    font-size: 30px;
    animation: slideUp 0.8s ease;
    
}

header h1{
    line-height: 1em;
    font-size: 4em;
    width: 200%;
    text-align: center;
    color:white;
    margin-top:2em;
}

.animals {
    display: flex;
}

.animals img {
    width: 300px;
}
p, .back, #pressEnter{
    font-family: 'Geologica', sans-serif;
}

#info > article > p{
    animation: slideUp 1s ease;
}

#info > article > .back{
    animation: slideUp 1.2s ease;
}

#info > article{
    overflow:hidden;
}

.back, #pressEnter{
    padding: 6px 12px;
    background-color: rgb(49, 64, 106);
    color:white;
    cursor:pointer;
    border-radius:10px;
    border:none;
    transition: 1s;
    margin-top: 5px;
}

.back:hover, #pressEnter:hover{
    background-color: rgb(96, 121, 190);
}

header div{
    display: flex;
    justify-content: center;
    font-size:1em;
    color: rgb(54, 54, 54);
    background-color: rgb(229, 229, 229);
    border-radius: 16px;
    width:fit-content;
    margin:auto;
    padding:8px 16px;
    animation: bob 3s linear infinite;
    width:100%;
    margin-left:40%;
}

#arrow{
    width:20%;
    height:2%;
    margin: auto 0;
    padding-left:10px;
}

header div p {
    margin:unset;
}

header{
    text-align: center;
    margin: 0 4em;
    width:50%;
}

section img{
    width: 90%;
    height:auto;
    margin: 1em 3em;
    transition: 2s;
    cursor:pointer;
}

img:hover{
    transform: scale(1.1);
}

#info article{
    width: 25%;
}

#info article img {
    width: 25%;
}

.hidden{
    display:none;
}

.showing{
    display:block;
}

/* overlay for the animals' information */
#moonjelly, #purplestrippedjelly, #cownoseray, #leopardsharks, #japaneseseanettle{
    position: absolute;
    background-color:rgb(0, 18, 44);
    color: white;
    height:auto;
    top: 50%;
    left: 25%;
    border-radius: 16px;
    transform: translate(135%, -50%);
    padding:5em;
    animation: fadeIn 1s;
}

#cownoseray{
    transform: translate(-55%, -50%);
}

#leopardsharks{
    transform: translate(25%, -50%);
}

#purplestrippedjelly{
    transform: translate(215%, -50%);
}

#japaneseseanettle{
    transform: translate(295%, -50%);
}

/* zoom into images when clicked on */
.zoomIn{
    transform: scale(1.25);
    top: 0;
    left: 0;
}

/* initial fade in for the page */
@keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes fadeOut{
    0% {opacity:1;}
    100% {opacity:0;}
}

/*text animation to slide up*/
@keyframes slideUp {
    0% {
        transform: translateY(80px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* swipe/click icon animation moving up and down */
@keyframes bob{
    0%, 100% {transform:translateY(-8px);}
    50% {transform:translateY(0px);}
}

/* changing gradients in the left background */
@keyframes back{
    0%, 100% {background-image: url(images/back1.jpg);}
    50% {background-image: url(images/back2.jpg);}
}

@keyframes zoom{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(50);
    }
}

    #intro .animals{
        display: flex;
        width:25%;
        margin-left:20em;
    }
    
    #intro{
        display: flex;
        margin-top:5%;
    }

    h1{
        margin-top: 20%;
    }
